In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
from IPython.display import display, Markdown

In [2]:
# Nairobi securities exchange all stock prices 2007-2012

# nse_2007_df = pd.read_csv("/storage/local-git-repos/shilling-iq/Nairobi Securities Exchange All Stocks Prices 2007-2012/NSE_data_all_stocks_2007.csv")
# nse_2008_df = pd.read_csv("/storage/local-git-repos/shilling-iq/Nairobi Securities Exchange All Stocks Prices 2007-2012/NSE_data_all_stocks_2008.csv")
# nse_2009_df = pd.read_csv("/storage/local-git-repos/shilling-iq/Nairobi Securities Exchange All Stocks Prices 2007-2012/NSE_data_all_stocks_2009.csv")
# nse_2010_df = pd.read_csv("/storage/local-git-repos/shilling-iq/Nairobi Securities Exchange All Stocks Prices 2007-2012/NSE_data_all_stocks_2010.csv")
# nse_2011_df = pd.read_csv("/storage/local-git-repos/shilling-iq/Nairobi Securities Exchange All Stocks Prices 2007-2012/NSE_data_all_stocks_2011.csv")
# nse_2012_df = pd.read_csv("/storage/local-git-repos/shilling-iq/Nairobi Securities Exchange All Stocks Prices 2007-2012/NSE_data_all_stocks_2012.csv")

nse_2013_df = pd.read_csv("/storage/local-git-repos/shilling-iq/NSE_data_all_stocks_2013.csv")
# nse_2013_sectors_df = pd.read_csv("/storage/local-git-repos/shilling-iq/NSE_data_stock_market_sectors_2013.csv")

In [3]:
def Explore(df, title):
    display(Markdown(title))
    display(Markdown("---"))    
    display(df.head(10))
    display(Markdown("### Shape"))
    display(Markdown("---"))    
    display(df.shape)
    display(Markdown("### Missing values"))
    display(Markdown("---"))    
    display(df.isnull().sum())    
    display(Markdown("### Unique Counts Per Column"))
    display(Markdown("---"))    
    display(df.nunique())
    display(Markdown("### Date Types"))
    display(Markdown("---"))    
    display(df.dtypes)    

Explore(nse_2013_df, "## NSE 2009 Data")

## NSE 2009 Data

---

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
0,2-Jan-13,EGAD,Eaagads Ltd,8.2,14,25,25,25,25,-,-,-,-
1,2-Jan-13,KUKZ,Kakuzi Plc,300,423.5,67.5,67.5,67.5,72,-4.5,6.25%,300,-
2,2-Jan-13,KAPC,Kapchorua Tea Kenya Plc,59,95,118,118,118,118,-,-,-,59
3,2-Jan-13,LIMT,Limuru Tea Plc,385,475,430,430,430,430,-,-,-,215
4,2-Jan-13,SASN,Sasini Plc,14.8,19.6,11.7,12.05,11.9,11.7,0.2,1.71%,"14,500",-
5,2-Jan-13,WTK,Williamson Tea Kenya Plc,92,165,200,200,200,200,-,-,-,100
6,2-Jan-13,CGEN,Car and General (K) Ltd,20,26,24,24,24,24,-,-,-,20
7,2-Jan-13,ABSA,ABSA Bank Kenya Plc,9.3,14.2,15.65,16,15.7,15.75,-0.05,0.32%,"78,200",-
8,2-Jan-13,COOP,Co-operative Bank of Kenya Ltd,10.5,17,12.75,13,12.75,12.6,0.15,1.19%,"123,300",9.11
9,2-Jan-13,DTK,Diamond Trust Bank Kenya Ltd,67.75,127,118,118,118,115,3,2.61%,"8,700",107.27

### Shape

---

(14889, 13)

### Missing values

---

DATE         0
CODE         0
NAME         0
12m Low      0
12m High     0
Day Low      0
Day High     0
Day Price    0
Previous     0
Change       0
Change%      0
Volume       0
Adjust       0
dtype: int64

### Unique Counts Per Column

---

DATE          247
CODE           62
NAME           62
12m Low        90
12m High      101
Day Low      1811
Day High     1807
Day Price    2146
Previous     2147
Change        677
Change%       785
Volume       4443
Adjust       1040
dtype: int64

### Date Types

---

DATE         str
CODE         str
NAME         str
12m Low      str
12m High     str
Day Low      str
Day High     str
Day Price    str
Previous     str
Change       str
Change%      str
Volume       str
Adjust       str
dtype: object

In [9]:
del nse_2007_df