In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
from IPython.display import display, Markdown

In [11]:
nse_2007_df = pd.read_csv("/storage/local-git-repos/shilling-iq/Nairobi Securities Exchange All Stocks Prices 2007-2012/NSE_data_all_stocks_2007.csv")

In [12]:
def Explore(df, title):
    display(Markdown(title))
    display(df.head(10))
    display(Markdown("### Shape"))
    display(df.shape)
    display(Markdown("### Unique number of dates ,ticker codes and names"))
    display(df[['DATE', 'CODE', 'NAME']].nunique())

Explore(nse_2007_df, "## NSE 2007 Data")

## NSE 2007 Data

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
0,1/2/2007,EGAD,Eaagads,22,57,52,52,52,52,-,-,300,26
1,1/2/2007,KAPC,Kapchorua Tea,111,148,100,100,100,98.5,1.5,1.50%,"7,800",-
2,1/2/2007,KUKZ,Kakuzi,67.5,89,42.5,45,43.5,42.25,1.25,2.87%,"2,700",-
3,1/2/2007,REA,Rea Vipingo Plantations,14.5,23.5,25,26.5,25.5,25.75,-0.25,0.98%,"10,500",-
4,1/2/2007,SASN,Sasini Tea and Coffee,10.5,13.6,140,145,140,141,-1,0.71%,"70,900",23.33
5,1/2/2007,UTK,Unilever Tea Kenya,45,45,80,82,81,81.5,-0.5,0.62%,"1,000",-
6,1/2/2007,WTK,Williamson Tea Kenya,180,290,120,120,120,118,2,1.67%,"10,000",-
7,1/2/2007,C&G,Car and General (K),21,29,50,50,50,50,-,-,"66,700",33.33
8,1/2/2007,CMC,CMC Holdings,13.5,13.5,173,193,188,173,15,7.98%,"36,200",15.67
9,1/2/2007,FIRE,Sameer Africa,3.4,5.95,22.5,26,24.75,24,0.75,3.03%,"54,800",-

### Shape

(10608, 13)

### Unique number of dates ,ticker codes and names

DATE    248
CODE     55
NAME     52
dtype: int64

In [9]:
del nse_2007_df